cmake-build-debug/*
.DS_Store
.ipynb_checkpoints
rmarcia_matlab_codes/*
jornelasmunoz/notebooks/wandb/*
jornelasmunoz/data/*
jornelasmunoz/models/*
jornelasmunoz/figs/*
*.pkl
references/*
slides_coded_aperture/*
jornelasmunoz/.DS_Store
